<h1 class="logo">
    <a href="/">Selenium Scaffolder</a>
</h1>
<h2 id="tag">
    Generate boilerplate code for test automation with Selenium WebDriver
</h2>
<div class="sidebar-content">
    <h4>
        Bulk Import
    </h4>
    <p>
        Enter a list of web elements in the text area with pipe-delimited field values
    </p>
    <ul>
        <li>
            ElementName (required): the name of the element
        </li>
        <li>
            ElementType: the type of element (e.g. TextBox, txtbox, etc.)
        </li>
        <li>
            FindByMethod: how the element is found. (e.g. Id, CssSelector, XPath, etc.)
        </li>
        <li>
            FindByExpression: the expression used to find the element
        </li>
    </ul>
    <h5>
        Examples
    </h5>
    <p style="margin-left: 15px">
        UserId | TextBox | Id | userIdTxt <br />
        Password | txt <br />
        Submit | btn | lnk
    </p>
    <h4>
        Privacy Notice
    </h4>
    <ul>
        <li>
            Submissions are not stored or logged
        </li>
        <li>
            Contact:<span class="pink"> SimpleSoftworks@protonmail.com </span>
        </li>
    </ul>
</div>

@code {

}